/* common style */
.btn {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: 0px;
}

.same-title {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

.same-heading {
    color: #131318;
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: 0px;
}

.why-choose-us {
    margin-bottom: 100px;
}

.why-choose-us h4 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

/*  */
body {
    font-family: "Mulish", sans-serif;
}

/* header section */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 130px;
}

nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav h2 {
    font-size: 2rem;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
    font-size: 18px;
}

.bg-img {
    background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    box-shadow: 0px 100px 200px inset;
    width: 1170px;
    height: 500px;
    margin-left: 135px;
    border-radius: 16px;
}

.text {
    text-align: center;
    color: #FFF;
    width: 676px;
    padding: 50px 247px 0 247px;
}

.text h1 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.shadow {
    display: inline-flex;
    padding: 16px;
    align-items: center;
    margin: 48px 185px 106px 165px;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.background button {
    border: none;
    text-align: center;
    color: #FFF;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
}

.background select {
    color: rgba(19, 19, 24, 0.50);
    padding: 16px 84px 16px 16px;
    border: none;
    margin-right: 24px;
    width: 174px;
    height: 52px;
    border-radius: 8px;
}

/* header section end */

/* our popular tour start */
.popular-tours {
    display: flex;
    margin: 100px 135px 100px 135px;
    gap: 55px;

}

.popular-tours-title h2 {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

#first {
    width: 577px;
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
    margin-bottom: 24px;
    margin-top: 24px;
}

#second {
    width: 530px;
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
    margin-bottom: 32px;
}

.popular-tours-title ul {
    margin-bottom: 24px;
    width: 525px;
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
}

.popular-tours-title li {
    margin-top: 16px;
}

.popular-tours img {
    width: 100%;
    height: 100%;
    margin-left: 40px;
}

/*  our popular tour end*/
/* destination start*/
.second-section {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.img-container {
    margin: 48px 120px 0px 120px;
}

.img-container div {
    margin-bottom: 24px;
    display: flex;
    gap: 24px;

}

.destination-title h2 {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

.destination-title p {
    width: 643px;
    margin: auto;
}

/* destination end */
/* choose us start */
.choose-us-container {
    text-align: center;
}

.plans-container {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.plans-container p {
    width: 486px;
    color: #5A5A5D;
    font-weight: 400;
}

.plan-one {
    border-radius: 16px;
    margin-top: 48px;
    padding: 32px 32px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);

}

.plan-two {
    margin-top: 48px;
    border-radius: 16px;
    padding: 35px 35px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.plan-three {
    margin-top: 24px;
    border-radius: 16px;
    padding: 35px 35px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.choose-us-container p {
    width: 643px;
    margin: auto;
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
}

/* choose us end */
/* deals and discount start */
.discount-warehouse p {
    width: 643px;
    margin: 0 auto;
    margin-bottom: 48px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}

.discount-warehouse {
    text-align: center;
}

.discount-bg-img {
    background-image: url("../Images/Group\ 39.png");
    width: 100%;
    height: 100%;
    margin-left: 10%;
    border: 16px;
    margin-bottom: 24px;
}

.discount-bg-img {
    background-repeat: no-repeat;
    padding: 56px 56px 56px 535px;
}

.discount-container {
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);

}

.discount-container h2 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 0;

}

.discount-item {
    display: flex;
    gap: 24px;
    margin: 30px 143px 0px 50px;
}

.discount-item div {
    display: flex;
}

.discount-text {
    margin-left: 50px;
}

.discount-text p {
    width: 452px;
}

.discount-text h3 {
    color: #FF5400;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 800;
}

.package-btn {
    display: flex;
    justify-content: center;
    margin-top: 62px;
}

/* deals and discount end */
/*  */
.perfect-place {
    display: flex;
    margin: 100px 135px 100px 135px;
    gap: 55px;

}

.perfect-place-title h2 {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

#first {
    width: 577px;
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
    margin-bottom: 24px;
    margin-top: 24px;
}

.perfect-place-title ul {
    color: #131318;
    font-size: 16px;
    font-weight: 700;
}

.perfect-place-title li {
    margin-top: 16px;
}

.perfect-place img {
    width: 100%;
    height: 100%;
    margin-left: 40px;
}

/*  */
/*  */
.newsletter {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.newsletter-container {
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.horizontal-line {
    width: 393px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}

.newsletter-text {
    margin: 40px 40px 0px 40px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
    margin-bottom: 16px;
    width: 474px;
    height: 422px;

}

.form input {
    width: 393px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

.form button {
    color: #FFF;
    font-size: 1rem;
    font-weight: 800;
    font-family: Mulish;
    width: 393px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background: #FF5400;
    padding: 0px;
}

.newsletter-img {
    background: url("../Images/Rectangle\ 8\ \(1\).png");
    width: 672px;
    height: 422px;
    position: relative;
}

.coupon {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
}
/*  */
@media screen and (max-width:576px) {}